/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29 sept. 2022, 15:16:04
    Author     : IAKO.PAIN
*/

body {
    background-color: midnightblue;
    color: cornsilk;
}

.important {
    margin: 10px;
    padding: 5px;
    background-color: cornflowerblue;
    border: 1px black solid;
    text-align: center;
    width: 100px;
    color: cornsilk;
}