div.statique {
    position: static;
    padding: 20px;
    border: 3px solid midnightblue;
    width: 310px
}
div.relative {
    position: relative;
    border: 3px solid crimson;
    width: 310px;
    left: 30px;
    padding: 20px
}